
.featured_categories{
  margin-top: 5rem;

    h3{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 2rem;
    }

    .gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}
}

