.homeContainer {
  width: 100%;
}

.offerCarouselWrapper {
  display: flex;
  flex-direction: column;
}

/* -------- MOBILE VIEW -------- */
@media (max-width: 768px) {
  .offerCarouselWrapper {
    display: flex;
    flex-direction: column;
  }

  .offerCarouselWrapper > :first-child {
    order: 2; // Move OfferMarquee down
  }

  .offerCarouselWrapper > :last-child {
    order: 1; // Move Carousel up
  }
}
