.img_main_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_wrap {
  position: relative;
}
.mainImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.presetText {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 175px;
  height: 70px; 
  
  box-sizing: border-box; 
  text-align: center;
  line-height: 1.2;
  
  
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  
  overflow-y: hidden;
  cursor: pointer;
  z-index: 10;
  margin: 0;

  /* Hide scrollbars */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

div.presetText {
  display: flex;
  align-items: center;
  justify-content: center;
//   margin-top: -14px;
}

.editInput {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  display: block; 

}