.suggested_main_wrap {
  margin-top: 2rem;
  width: 100%;
  padding: 0 5rem;

  .related_list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .suggested_main_wrap {
    width: 100%;
  }

  .related_list {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    overflow: visible;
    padding-bottom: 0rem;
    gap: 1rem !important;
  }
}

@media screen and (max-width: 760px) {
  .suggested_main_wrap {
    width: 100%;
  }

  .related_list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    overflow: visible;
    padding-bottom: 0rem;
    gap: 0.8rem !important;
  }
}

@media screen and (max-width: 500px) {
  .suggested_main_wrap {
   margin: 0 !important;
    padding: 0 !important;
    width: 100vw;

    h4{
     margin: 0.3rem 1rem;
    }
  }

  .related_list {
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px !important;
    justify-items: stretch;
  }

  .related_list > * {
    width: 100% !important;
  }
}
