.heroword_main_wrap{
    margin-top: 1rem;

    h1{
        text-align: center;
        margin-bottom: 1rem;
    }
}
.container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #FFF0E4;
  overflow: hidden;
}

.word {
  position: absolute;
  font-weight: 600;
  color: #111;
  opacity: 0;
  animation: fadeInMove 1.5s ease forwards, floatMove 5s ease-in-out infinite alternate;
  cursor: default;
  transition: transform 0.3s ease;
}

.word:hover {
  transform: scale(1.1) rotate(2deg);
  color: #000;
}


@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes floatMove {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5px) rotate(1deg);
  }
  100% {
    transform: translateY(5px) rotate(-1deg);
  }
}
