.card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-align: left;
  padding-bottom: 1rem;
  width: 240px;

  
  .basePrice {
    text-decoration: line-through;
    color: #888;
    margin-left: 0.5rem;
  }

  .discount {
    color: green;
    font-weight: 600;
    margin-left: 0.5rem;
  }

  &:hover {
    transform: translateY(-6px);
  }

  h3 {
    font-size: 1rem;

  }

  p {
    color: #333;
    font-size: 0.95rem;
    font-weight: 500;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 350px;
  // background: #f3efe5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  img{
    width: 100%;
    height: 100%;
  }

  .favorite {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .liked {
    color: red;
  }

  .productImg {
    object-fit: contain;
  }

  
}



@media screen and (max-width:760px){
  .card {
  width: 176px;
  padding-bottom: 0;

  .imageContainer{
    height: 282px;
  }

  
}
}