*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  height: -webkit-fill-available;
}

.cashfree-modal-container{
  width: 100% !important;
  height: "auto" !important;
}


@media (max-width: 768px) {
  .navbar-wrapper {
    display: none !important;
  }

  .slick-dots {
    bottom: 35 !important;
}
}