.otpModal {
  text-align: center;
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: #555;
    margin-bottom: 1rem;
  }

  .otpBoxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;

    input {
      width: 45px;
      height: 50px;
      font-size: 1.5rem;
      text-align: center;
      border: 2px solid #b76e09;
      border-radius: 8px;
      outline: none;
      background: #fff;
    }
  }
}
