.otpModal {
  text-align: center;
  background: #fff;
  border-radius: 16px;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: #555;
    margin-bottom: 1rem;
  }

  .otpBoxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;

    input {
      width: 45px;
      height: 50px;
      font-size: 1.5rem;
      text-align: center;
      border: 2px solid #b76e09;
      border-radius: 8px;
      outline: none;
      background: #fff;
    }

    .resendBtn {
    color: #e66f00;
    cursor: pointer;
    font-weight: 600;
  }
  }

  .submitBtn {
    width: 100%;
    background: #ff7b00;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.875rem;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 1rem;
    margin-top: 1rem;
    &:hover {
      background: #e66f00;
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(255, 123, 0, 0.3);
    }

    &:active {
      transform: translateY(0);
    }
  }

  
}
