.sdks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.iconBtn {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    stroke: #000;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
}
