.emptyStateContainer {
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2e2e2e;
  margin-bottom: 0.8rem;
}

.description {
  font-size: 1rem;
  color: #555;
  max-width: 600px;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.button {
  background-color: #e9741a;
  color: #fff;
  border: none;
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d46616;
  }
}
