.wrapper {
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.filters {
  position: sticky;
  top: 0; 
  background: #fff; 
  z-index: 99999 !important;
  padding: 0.8rem 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  border-bottom: 1px solid #eee;
}


.filters::-webkit-scrollbar {
  display: none;
}

.filterBtn {
  border: 1px solid #111;
  background: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;

  &:hover {
    background-color: #111;
    color: #fff;
  }
}

.active {
  background-color: #111;
  color: #fff;
}

/* Product grid layout */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 1rem;
  column-gap: 4rem;
  justify-items: center;
  animation: fadeIn 0.5s ease;
}

.noProducts{
  margin-top: 1.5rem;
  font-size: 1rem;
  white-space: noWrap;
  padding: 1rem;
}

/* ---------- MOBILE VIEW ---------- */
@media screen and (max-width: 760px) {
  .wrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
  }

  .cardGrid {
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px !important;
    justify-items: stretch;
  }

  .cardGrid > * {
    width: 100% !important;
  }
}

