.wrapper {
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* Filter Buttons */
.filters {
  display: flex;
  justify-content: flex-start; 
  gap: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
  padding: 0 1rem;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filterBtn {
  border: 1px solid #111;
  background: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;

  &:hover {
    background-color: #111;
    color: #fff;
  }
}

.active {
  background-color: #111;
  color: #fff;
}

/* Product grid layout */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 1rem;
  column-gap: 4rem;
  justify-items: center;
  animation: fadeIn 0.5s ease;
}

.noProducts{
  margin-top: 1.5rem;
  font-size: 1rem;
  white-space: noWrap;
  padding: 1rem;
}

/* ---------- MOBILE VIEW ---------- */
@media screen and (max-width: 760px) {
  .wrapper {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
  }

  .heading{
    margin-top: 2.5rem;
  }

 .filters {
    display: flex;
    gap: 0.6rem;
    overflow-x: auto;
    padding: 0 0.5rem;
    margin-bottom: 0;
    padding-left: 1rem;
    justify-content: flex-start; 
  }

  .filterBtn {
    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .cardGrid {
    grid-template-columns: repeat(2, 1fr); // Always 2 items per row
    column-gap: 0.8rem;
    row-gap: 1rem;
  }
}
