.canvasWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.canvas {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f8f8f8;
}

.textInput {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 80%;
  text-align: center;
}
